h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
/* h2 {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.72px;
} */
/* h3 {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 0.9;
    letter-spacing: 0.02em;

    text-align: center;
    margin-bottom: 8px;

    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
} */

body {
    color: #434455;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* section {
    padding: 96px 0;
}
@media screen and (min-width: 1158px) {
    .section {
        padding: 120px 0;
    }
} */

button {
    padding: 0;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* #region Header */

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    gap: 149px;
    /* gap: 76px; */
}

@media only screen and (min-width: 768px) {
.page-header-container {
    /* gap: 120px; */
    padding: 0;
    gap: 0;
  }
}

.page-header {
    /* display: flex; */
    padding: 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    color: #2E2F42;
}
.page-header-left {
    display: flex;
    align-items: center;
}
.logo-dark {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    color: #2E2F42;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 0.54px;
}
@media only screen and (min-width: 768px) {
.logo-dark {
    margin-right: 120px;
  }
}
@media only screen and (min-width: 1158px) {
.logo-dark {
    margin-right: 76px;
}
}

.accent {
    color: #4D5AE5;
    letter-spacing: 0.54px;
}

.mobile-menu-btn {
    display: block;
    justify-content: center;
    align-items: center;
    /* margin-right: auto; */
}

.mobile-menu-icon {
    /* position: absolute; */
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
}

@media only screen and (min-width: 768px) {
    .mobile-menu-btn {
        display: none;
    }
}

/* #endregion */

/* #region Navigation */

.page-nav {
    display: flex;
    /* gap: 40px; */
    align-items: center;
}
@media only screen and (max-width: 767.98px) {
.page-nav {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
.nav-list {
    margin-left: auto;
    margin-right: auto;
  }
}

.nav-list {
    display: flex;
    gap: 40px;
}
.nav-link {
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.nav-link.current {
    position: relative;
}
.nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
}

/* #endregion */

.nav-link:hover,
.nav-link:focus,
.nav-link:active,
.address-link:hover,
.address-link:focus,
.nav-link.current {
    color: #404BBF;
}

/* #region Address */

.page-address {
    display: flex;
    /* gap: 24px; */
    /* gap: 40px; */
    align-items: center;
    margin-left: auto;
}
@media only screen and (max-width: 767.98px) {
.page-address {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
.page-address {
    margin-left: auto;
  }
}


.address-list {
    display: flex;
    gap: 24px;
    flex-direction: column;
}
@media only screen and (min-width: 768px) {
    .address-list {
        gap: 12px;
        /* margin-left: 122px; */
    }
}
@media only screen and (min-width: 1158px) {
    .address-list {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 40px;
        margin-right: auto;
    }
}

.address-link {
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-style: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}
@media only screen and (min-width: 1158px) {
.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* @media only screen and (min-width: 768px) and (max-width: 1157.98px) {
    .address-link {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
    }
} */

/* #endregion */

/* #region Hero */

.page-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #2E2F42;
    /* max-width: 1440px; */
    margin: 0 auto;
    padding: 72px 0;
    /* padding: 188px 0; */
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),
        url("../images/people-office1@1x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media only screen and (min-width: 768px) {
    .page-main {
        /* max-width: 768px; */
        background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url("../images/people-office1@1x.jpg");
        padding: 112px 0;
    }
}
@media only screen and (min-width: 1158px) {
.page-main {
    /* max-width: 1440px; */
    background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/people-office1@1x.jpg");
    padding: 188px 0;
  }
}
@media (min-resolution: 2x) {
    .page-main {
        background-image:
            linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/people-office1@2x.jpg");
    }
}

.page-title h1 {
    max-width: 216px;
    margin: 0 auto;

    text-align: center;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    letter-spacing: 0.02em;
    font-size: 36px;
    line-height: 1.11;
}
@media only screen and (min-width: 768px) {
.page-title h1 {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
}

.order-btn {
    display: inline-flex;
    border-radius: 4px;
    padding: 16px 32px;
    align-items: center;
    justify-content: center;
    margin-top: 72px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
.order-btn {
    margin-top: 36px;
  }
}
@media only screen and (min-width: 1158px) {
.order-btn {
    margin-top: 48px;
}
}

.order-btn:hover,
.order-btn:focus {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #404BBF;
}

/* #endregion */

/* #region Features */

.section-features {
    padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
.section-features {
    padding: 120px 0;
  }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 72px;
    /* width: 100%; */
}
.features-item {
    position: relative;
    /* max-width: 288px; */
}
.features-text {
    margin-top: 8px;
    font-weight: 500;
}
@media only screen and (min-width: 1158px) {
.features-text {
    font-weight: 400;
  }
}

.features-title {
    text-align: center;
}
/* .features-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
} */

/* @media only screen and (max-width: 1157.98px) {
.features-item p {
    font-weight: 500;
  }
} */
@media only screen and (min-width: 768px) {
    .features-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 72px 24px;
    }
    .features-item {
        width: calc((100% - 24px * 1) / 2);
    }
}
@media only screen and (min-width: 1158px) {
    .features-list {
        flex-wrap:nowrap;
        gap: 24px;
    }
    .features-item {
        max-width: 264px;
    }
}
.features-icons {
    display: none;
}
.features-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
}
@media only screen and (min-width: 768px) {
    .features-title {
        text-align: left;
    }
}
@media only screen and (min-width: 1158px) {
.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
@media only screen and (min-width: 1158px) {
    .features-item {
        max-width: 264px;
    }
    .features-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F4F4FD;
        border: 1px solid #8E8F99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        margin-bottom: 8px;
    }
    /* .features-item h3 {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    } */
}

/* #endregion */

/* #region Team */

.section-team {
    /* padding-top: 96px; */
    /* padding: 120px 0; */
    padding: 96px 0;
    background-color: #F4F4FD;
}
@media only screen and (min-width: 1158px) {
.section-team {
    padding: 120px 0;
  }
}

.section-title {
    text-align: center;
    margin-bottom: 72px;
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.72px;
}
/* .title {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.48px;
    text-align: center;
    background-color: #FFFFFF;
} */
.section-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
    /* margin: 0;
    padding: 0; */
}
.section-item {
    width: 264px;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
@media only screen and (min-width: 768px) {
    .section-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
        padding: 0 92px;
        /* max-width: 264px; */
    }
    .section-item {
        width: calc((100% - 24px) / 2);
    }
}

@media only screen and (min-width: 1158px) {
    .section-list {
        /* flex-wrap: wrap; */
        gap: 24px;
        padding: 0;
    }
    .section-item {
        width: calc((100% - 72px) / 4);
    }
}
.section-item img {
    display: block;
    width: 100%;
    height: auto;
}
.team-info {
    text-align: center;
    padding: 32px 16px;
    /* width: 264px; */
}
.text {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: #FFFFFF;
    letter-spacing: 0.32px;
}

/* #endregion */

/* #region Social links */

.social-links {
    display: flex;
    gap: 24px;
    padding-top: 8px;
}
.social-links .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links .icon {
    fill: #F4F4FD;
}
.social-links .link:hover,
.social-links .link:focus {
    background-color: #404BBF;
}

/* #endregion */

/* #region Portfolio */

.section-portfolio {
    padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
.section-portfolio {
    padding: 120px 0;
  }
}

.list-portfolio {
    display: flex;
    flex-direction: column;
    gap: 48px;
    /* align-items: center; */
    width: 100%;
}
.item-portfolio {
    /* flex: 0 0 calc((100% - 48px) / 3); */
    width: 288px;
    text-align: left;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
    .list-portfolio {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        /* padding: 0 92px; */
        /* max-width: 264px; */
    }
    .item-portfolio {
        width: calc((100% - 24px) / 2);
    }
}

@media only screen and (min-width: 1158px) {
    .list-portfolio {
        /* flex-wrap: wrap; */
        gap: 48px 24px;
        /* padding: 0; */
    }
    .item-portfolio {
        width: calc((100% - 48px) / 3);
        box-shadow: none;
    }
    .item-portfolio:hover {
        cursor: pointer;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }
}

/* .item-portfolio:hover {
    cursor: pointer;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
} */
.item-portfolio img {
    display: block;
    width: 100%;
    /* height: auto; */
    height: 280px;
    object-fit: cover;
}
@media only screen and (min-width: 768px) {
    .item-portfolio img {
        height: 300px;
    }
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
}
.overlay {
    padding: 8px;
    background-color: #4D5AE5;
    color: #F4F4FD;
    font-family: Roboto;
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-portfolio:hover .overlay {
    transform: translateY(0);
}
.portfolio-info {
    text-align: left;
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-info h3 {
    text-align: left;
}
/* .portfolio-info h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
}
@media only screen and (min-width: 768px) {
    .portfolio-info h3 {
        text-align: left;
  }
}
@media only screen and (min-width: 1158px) {
    .portfolio-info h3 {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }
} */

/* #endregion */

/* #region Modal */

.feedback-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* gap: 8px; */
}

.modal-backdrop {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #FCFCFC;
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    padding: 72px 16px 24px;

    transition-property: opacity, transform;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
.modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }
}

.modal-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    border-radius: 50%;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    fill: #2E2F42;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #E7E9FC;
}
.modal-btn:hover,
.modal-btn:focus {
    fill: #FFFFFF;
    background-color: #404BBF;
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}

.modal-slogan {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    padding-bottom: 16px;
}

.feedback-wrapper {
    position: relative;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #8E8F99;
    }
.feedback-wrapper:not(:last-of-type) {
    margin-bottom: 8px;
}

.feedback-label {
    display: block;
    margin-bottom: 4px;
}
.feedback-field {
    position: relative;
}
.feedback-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: none;
    width: 100%;
    height: 40px;
    background-color: #FCFCFC;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 11px 38px;
}
.feedback-input:focus {
    border-color: #4D5AE5;
}
.feedback-icon {
    position: absolute;
    fill: #2E2F42;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-input:focus + .feedback-icon {
    fill: #4D5AE5;
}

.feedback-comment {
    width: 100%;
    height: 120px;
    padding: 8px 16px;;

    font-size: 12px;

    resize: none;
    outline: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: #FCFCFC;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-comment:focus {
    border-color: #4d5ae5;
}
.feedback-comment::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.feedback-agreement {
    display: block;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-top: 16px;
    margin-bottom: 24px;
}

.feedback-toggler {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 16px;
    margin-right: 8px;

    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, border-color;
    cursor: pointer;
}
.feedback-checkbox:checked+.feedback-toggler {
    background-color: #404BBF;
    border-color: transparent;
    fill: #F4F4FD;
}
.feedback-toggler-icon {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-checkbox:checked+.feedback-toggler>.feedback-toggler-icon {
    opacity: 1;
}
.privacy-link {
    color: #4D5AE5;
    line-height: 16px;
    text-decoration: underline;
}
.feedback-form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    border-radius: 4px;
    border: none;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4D5AE5;
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form-btn:hover,
.feedback-form-btn:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

/* #endregion */

/* #region Footer */

.page-footer {
    /* display: flex; */
    /* flex-direction: column; */
    padding: 96px 0;
    background-color: #2E2F42;
}
@media only screen and (min-width: 768px) {
    .page-footer {
        align-items: flex-start;
        width: 100%;
        /* padding: 96px 108px; */
    }
}
@media only screen and (min-width: 1158px) {
    .page-footer {
        /* align-items: start; */
        padding: 100px 0;
        /* align-items: flex-start; */
        /* gap: 16px; */
        /* width: 100%; */
    }
}

.page-footer .container {
    display: flex;
    flex-direction: column;
    gap: 72px 24px;
    align-items: center;
    /* max-width: 320px;
    padding: 0 16px;
    margin: 0 auto; */
    /* align-items: baseline; */
}
@media only screen and (min-width: 768px) {
    .page-footer .container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        gap: 72px 24px;
        /* padding: 0 108px; */
        /* margin: 0; */
        /* max-width: 264px; */
    }
    .page-footer .container p {
        text-align: left;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1157.97px) {
.page-footer .container {
    padding: 0 108px;
  }
}
@media only screen and (min-width: 1158px) {
    .page-footer .container {
        /* padding: 0 108px; */
        /* padding: 0 16px; */
        /* margin: 0 auto; */
        align-items: baseline;
        flex-wrap: nowrap;
        /* gap: 0; */
        gap: 80px;
        /* padding: 0 auto;
        margin: 0 auto; */
            /* gap: 120px; */
            /* gap: 120px; */
            /* max-width: 264px; */
    }
}

.footer-logo {
    padding: 0;
    margin: 0;
    text-align: center;
}
@media only screen and (min-width: 768px) {
    .footer-logo {
        text-align: left;
    }
}
@media only screen and (min-width: 1158px) {
    .footer-logo {
        margin-right: 40px;
    }
}
.text-footer {
    max-width: 264px;
    padding-top: 16px;
    text-align: left;
    /* margin: 0; */
    color: #F4F4FD;
    /* margin-right: 120px; */
}
@media only screen and (min-width: 1158px) {
.text-footer {
    margin: 0;
    /* margin-right: 120px; */
  }
}
.logo-light {
    text-decoration: none;
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.footer-subscribe {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    gap: 16px;
    max-width: 453px;
    width: 100%;
    /* margin: 0; */
    /* height: 80px; */
    /* margin-left: auto; */
}
@media only screen and (min-width: 768px) {
.footer-subscribe {
    align-items: start;
  }
}
@media only screen and (min-width: 1158px) {
.footer-subscribe {
    /* margin-left: auto; */
    width: unset;
}
}
.social-media p {
    text-align: center;
}
/* @media only screen and (min-width: 768px) {
.social-media p {
    text-align: left;
  }
} */

 .subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 453px; */
    /* width: 100%; */
    /* height: 40px; */
    gap: 16px;
}
@media only screen and (min-width: 768px) {
.subscribe-form {
    gap: 24px;
    flex-direction: row;
  }
}

.email {
    display: flex;
    align-items: center;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    /* max-width: 375px;
    width: 100%; */
    width: 288px;
    height: 40px;
    background-color: #2E2F42;
    padding: 8px 16px;
    outline: none;
    color: #fff;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .email {
    width: 264px;
  }
}

.email::placeholder {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}
.email:hover,
.email:focus {
    border-color: #31D0AA;
}
.subscribe-btn {
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    gap: 16px;
    padding: 8px 24px;
    border-radius: 4px;
    width: fit-content;
    min-width: 165px;
    min-height: 40px;
    border: none;
    background-color: #4D5AE5;
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #31D0AA;
}
.subscribe-btn .icon {
    fill: #F4F4FD;
}
/* #endregion */

/* #region Social media */

.social-media {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 208px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.social-media .social-links {
    gap: 16px;
    padding-top: 0;
}
.social-media .link:hover,
.social-media .link:focus {
    background-color: #31D0AA;
}
/* #endregion */

/* #region Mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);

    background-color: #fff;
    z-index: 999;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 72px 16px 40px;
    width: 100%;
    height: 100%;
    /* position: absolute; */
    /* min-width: 320px; */
    /* min-height: 100dvh; */
    /* min-height: 640px; */
}
.mobile-menu.is-open {
    transform: translateX(0);

    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
@media only screen and (min-width: 768px) {

    .mobile-menu,
    .mobile-menu.is-open {
        display: none;
        visibility: hidden;
        pointer-events: none;
    }
}

.mobile-menu-page-nav {
    display: flex;
    margin-bottom: auto;
}
.mobile-menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;

    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}
.mobile-menu-nav-link {
    display: block;
    text-decoration: none;
    color: #2E2F42;
}
.mobile-menu-nav-link.active {
    color: #404BBF;
}

.mobile-menu-page-address {
    margin-bottom: 48px;
}
.mobile-menu-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;

    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.mobile-menu-address-link {
    display: block;
    text-decoration: none;
    color: #434455;
    font-style: normal;
}
.mobile-menu-address-link.active {
    color: #4D5AE5;
}

.mobile-menu .social-media {
    max-width: 280px;
}
.mobile-menu .social-links {
    gap: 40px;
    width: 280px;
}

/* #endregion */